/* 웹폰트 설정 */

@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format("woff2"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format("opentype");
}

/* 변수 설정 */

:root {
    /* Colors */
    --primary-color: #5b2386; /* 보라색 배경 */
    --secondary-color: #8443b6; /* 연한 보라색 */
    --accent-yellow: #fcee21; /* 노란색 (제목, 버튼) */
    --text-white: #ffffff; /* 흰색 텍스트 */
    --text-gray: #babcbe; /* 회색 텍스트 */
    --white-color: #ffffff; /* 입력창 배경 */
    --shadow: 2px 4px 10px 0px #00000026;
    --shadow-l: 4px 4px 30px 0px #00000026;
}

/* 폰트 초기화 */

* {
    font-family: "GmarketSansMedium";
}

html {
    font-size: 62.5%; /* font-size 1rem = 10px*/
}

body {
    background-color: var(--primary-color);
}

[class*="btn--"] {
    font-family: "GmarketSansBold";
}

input::placeholder {
    color: var(--text-gray);
}

.btn--primary {
    background-color: var(--accent-yellow);
    color: var(--primary-color);
}

.btn--secondary {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.btn--small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.6rem;
    border-radius: 1.2rem;
    line-height: 1;
}

.btn--large {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 24rem;
    height: 7.2rem;
    padding: 0 3.8rem;
    border-radius: 1.2rem;
    box-shadow: var(--shadow);
    font-size: 1.4rem;
}

/* 헤더 */
.header {
    width: 27.8rem;
    height: 13rem;
    margin: 4rem auto 0;
    background: url(../images/clock.png) no-repeat center center / contain;
}

.header__title {
    width: 100%;
    height: 100%;
}

.header__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 메인 */
.main {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 인용구 섹션 */
.quote {
    text-align: center;
    padding: 0 2rem;
    background: url(../images/quotes.png) no-repeat center 10rem / contain;
}

.quote__title {
    font-family: "OTEnjoystoriesBA";
    font-size: 2.2rem;
    color: var(--accent-yellow);
}

.quote__text {
    margin-top: 3.2rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.2;
    color: var(--white-color);
}

.quote__accent {
    font-weight: 700;
}

/* 입력 섹션 */
.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    gap: 8rem;
}

.input,
.result,
.footer {
    color: var(--white-color);
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.input-form * {
    font-size: 1.4rem;
    font-weight: 400;
}

.input-form__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.input-form__line:first-child {
    gap: 0.8rem;
}

.input-form__line:nth-child(2) {
    flex-direction: column;
}

.input-form__text:nth-child(3) {
    flex: 1;
}

.input-form__input {
    width: 100%;
    max-width: 15.6rem;
    height: 3.8rem;
    padding: 0 0.8rem;
    border: none;
    border-radius: 0.8rem;
    text-align: center;
}

.input-form__group {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.input .btn--large::after {
    position: absolute;
    top: 4.2rem;
    right: -4.6rem;
    content: "";
    display: inline-block;
    width: 4.3rem;
    height: 4.8rem;
    background: url(../images/click.png) no-repeat center center / cover;
}

/* 결과 섹션 */
.result {
    margin-top: 6.8rem;
    font-size: 1.2rem;
}

.result__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.result__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.result__line * {
    line-height: 1.25;
    font-weight: 400;
}

.result__accent,
.result__number {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "GmarketSansBold";
}

/* 액션 버튼 섹션 */
.action-btn {
    display: flex;
    width: 100%;
    max-width: 31.3rem;
    gap: 0.8rem;
    margin-top: 5.2rem;
}

.action-btn .btn--small:first-child {
    flex: 2;
}

.action-btn .btn--small:nth-child(2) {
    flex: 1;
}

/* 푸터 */
.footer {
    width: 100%;
    max-width: 26rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.footer__text {
    font-family: "Noto Sans KR";
    font-size: 0.9rem;
    text-align: center;
}

/* 모달 */

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    width: 100%;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    position: fixed;
    padding: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 2rem;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 */
}

.modal__text {
    text-align: center;
    color: var(--primary-color);
}

.modal__text * {
    font-family: "OTEnjoystoriesBA";
    line-height: 1;
}

.modal__accent {
    font-size: 6.4rem;
}

.modal__line {
    font-size: 3.6rem;
}

.modal--hidden {
    /* display: none; */
}

/* 데스크톱 (768px 이상) */
@media screen and (min-width: 768px) {
    .btn--large {
        max-width: 56.7rem;
        height: 6.4rem;
        font-size: 2.4rem;
    }

    .btn--small {
        height: 6.4rem;
        font-size: 2.4rem;
    }

    .header {
        width: 56.4rem;
        height: 26.5rem;
    }

    .main {
        margin-top: 5.2rem;
    }

    .quote {
        padding: 0 5.6rem;
        background-position: center 19rem;
    }

    .quote__title {
        font-size: 3.6rem;
    }

    .quote__text {
        margin-top: 8rem;
        font-size: 2.4rem;
    }

    .input {
        gap: 12rem;
    }

    .input-form {
        gap: 2rem;
    }

    .input-form__line:first-child {
        gap: 2.4rem;
    }

    .input-form__line:nth-child(2) {
        flex-direction: row;
    }

    .input-form * {
        font-size: 2.4rem;
    }

    .input-form__input {
        max-width: 22.8rem;
        height: 5.6rem;
    }

    .input .btn--large::after {
        width: 6.4rem;
        height: 7.2rem;
        top: 1.2rem;
        right: -7.6rem;
    }

    .result {
        margin-top: 14.2rem;
        font-size: 2.4rem;
    }

    .result__text {
        gap: 2rem;
    }

    .result__accent,
    .result__number {
        font-size: 7.2rem;
    }

    .action-btn {
        max-width: 57rem;
        margin-top: 12rem;
        gap: 1.2rem;
    }

    .footer {
        max-width: 36.5rem;
        gap: 2rem;
    }

    .footer__text {
        font-size: 1.2rem;
    }

    .modal__content {
        max-width: 80rem;
        gap: 4rem;
        padding: 8rem 14.6rem;
    }

    .modal__accent {
        font-size: 9.6rem;
    }

    .break--mobile {
        display: none;
    }
}
